PROJECT_PATH := $(dir $(lastword $(MAKEFILE_LIST)))

SYSROOT = 

KERN_DIR = 


INSTALL_CMD := bash $(PROJECT_PATH)/scripts/deploy.sh

TOOLCHAIN_PATH=  

TARGET_ARCH := arm64
CROSS_COMPILE := $(TOOLCHAIN_PATH)aarch64-linux-gnu-
